
ipykernel==6.30.1
jupyterlab_widgets==3.0.15
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
networkx==3.5
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pgmpy==1.0.0
python-dateutil==2.9.0.post0
pyvis==0.3.2
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
statsmodels==0.14.5
torch==2.8.0
typing_extensions==4.15.0
widgetsnbextension==4.0.14
